/* font import link */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* font-family: "Inter",sans-serif; */
/* font-family: "Merriweather",serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

#header {
    height: 600px;
    background: linear-gradient(180.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%),
     url(../images/Banner\ Image.png);
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header .header-text-container {
    width: 630px;
    height: 240px;
    text-align: center;
    margin-top: 40px;
}

.header-text-container .header-subtitle {
    font-family: "Merriweather",serif;
    font-weight: 400;
    font-size: 18px;
    color: rgb(190, 190, 190);
}

.header-text-container .header-title {
    font-family: "Merriweather",serif;
    font-weight: 900;
    font-size: 60px;
    line-height: 80px;
    margin-top: 15px;
    color: white;
}

/* categories section styles start */

.categories {
    height: 600px;
    margin: 100px auto;
}

.categories .categories-text-container {
    width: 600px;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}

.categories .categories-text-container .categories-discount {
    color: rgb(255, 0, 0);
    font-family: "Inter",sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 100px;
    letter-spacing: 0%;
    text-align: center;
}

.categories .categories-text-container .categories-description {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: center;
}

.categories .categories-text-container .categories-title {
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0%;
    text-align: center;
}

.categories .categories-text-container img {
    width: 600px;
    height: 100%;
    margin-top: 50px;
}


/* categories section styles end */



